@model FinalProjectAutoImplementedAuthentication.Models.ListDataViewModel

<table class="table">
    <tr>
        @foreach (var label in Model.UserLists)
        {
            <th>
                @Html.DisplayNameFor(modelLabel => label.ListName)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.RowCount)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.ColumnCount)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.OwnerId)
            </th>
            break;
        }
    </tr>

    @foreach (var item in Model.UserLists)
    {
        if (item.OwnerId == ViewData["userid"].ToString())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                    @Html.ActionLink("Details", "Details", new { item.ListId }) |
                    <button class="btn btn-primary" id="delete_btn" onclick="_delete()">Delete</button>
                    @Html.ActionLink("Delete", "DeleteList", new { item.ListId })
                </td>
            </tr>
        }
    }

    @{ List<int> curListId = new List<int>(); }

    @foreach (var appUser in Model.ApprovedUsers)
    {
        foreach (var item in Model.UserLists)
        {
            if (appUser.UserId == ViewData["userid"].ToString() && appUser.ListId == item.ListId && item.OwnerId != appUser.UserId)
            {
                if (!curListId.Contains(item.ListId))
                {
                    curListId.Add(item.ListId);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RowCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ColumnCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                            @Html.ActionLink("Details", "Details", new { item.ListId }) |
                            @Html.ActionLink("Delete", "DeleteList", new { item.ListId })
                        </td>
                    </tr>
                }
            }
        }
    }
</table>


<div class="modal fade" id="ActionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body" id="modalbody"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    var _delete = function () {
        var deleteURL = "/List/DeleteList";
        $("#modalTitle").html("Delete List");
        $("#modalbody").load(deleteURL, function () {
            $("#ActionModal").modal("show");
        });
    }
</script>
