@model IEnumerable<FinalProjectAutoImplementedAuthentication.Models.UserList>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColumnCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListId })
        </td>
    </tr>
}

</table>
