@using FinalProjectAutoImplementedAuthentication.Models;
@model FinalProjectAutoImplementedAuthentication.Models.ListDataViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelLabel => modelLabel.UserList.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(modelLabel => modelLabel.UserList.RowCount)
        </th>
        <th>
            @Html.DisplayNameFor(modelLabel => modelLabel.UserList.ColumnCount)
        </th>
        <th>
            <label>Owner</label>
        </th>
    </tr>



    @{ ListInfo selectedList = new ListInfo();
        string message = null;
        int modifiedRowCount;
        int modifiedColumnCount; }

    @foreach (var item in Model.UserLists)
    {
        if (item.OwnerId == ViewData["userid"].ToString())
        {
            <tr>
                <td>
                    @foreach (var info in Model.ListInfos)
                    {
                        if (item.ListId == info.ListId)
                        {
                            selectedList.InfoId = info.InfoId;
                            selectedList.ColumnData = info.ColumnData;
                            selectedList.RowNum = info.RowNum;
                            selectedList.ColumnNum = info.ColumnNum;
                            selectedList.ListId = info.ListId;
                            selectedList.IsChecked = info.IsChecked;
                        }
                    }
                    @Html.ActionLink(item.ListName, "EditListInfo", new { item.ListId, message })
                </td>
                <td>
                    @{ modifiedRowCount = item.RowCount + 1; }
                    @modifiedRowCount
                </td>
                <td>
                    @{ modifiedColumnCount = item.ColumnCount + 1; }
                    @modifiedColumnCount
                </td>
                <td>
                    You
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                    @Html.ActionLink("Details", "Details", new { item.ListId }) |
                    <button class="btn btn-primary" id="delete_btn" onclick="_delete(@item.ListId)">Delete</button>
                    @*@Html.ActionLink("Delete", "DeleteList", new { item.ListId })*@
                </td>
            </tr>
        }
    }

    @{ List<int> curListId = new List<int>(); }

    @foreach (var appUser in Model.ApprovedUsers)
    {
        foreach (var item in Model.UserLists)
        {
            if (appUser.UserId == ViewData["userid"].ToString() && appUser.ListId == item.ListId && item.OwnerId != appUser.UserId)
            {
                //if (!curListId.Contains(item.ListId))
                //{
                //curListId.Add(item.ListId);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListName)
                    </td>
                    <td>
                        @{ modifiedRowCount = item.RowCount + 1; }
                        @modifiedRowCount
                    </td>
                    <td>
                        @{ modifiedColumnCount = item.ColumnCount + 1; }
                        @modifiedColumnCount
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                        @Html.ActionLink("Details", "Details", new { item.ListId }) |
                        @*@Html.ActionLink("Delete", "DeleteList", new { item.ListId })*@
                    </td>
                </tr>
                //}
            }
        }
    }
</table>


<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-Title">Delete List</h4>
            </div>
            <div class="modal-body" id="DeleteBody">Are you sure you want to delete this list?</div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" id="delYes" value="Delete" />
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel" />
            </div>
        </div>
    </div>
</div>

<script>
    var _delete = function (listId) {
        $("#DeleteModal").modal("show");
        $("#delYes").on("click", function () {
            var deleteInfoURL = "/List/DeleteListInfo?ListId=" + listId;  // This URL references the function that removes all ListInfo entries with the corresponding ListId
            $.ajax({
                type: "post",
                url: deleteInfoURL,
                success: function () {
                    var deleteSharedURL = "/List/DeleteAllSharedUsers?ListId=" + listId;  // This URL references the function that removes all ApprovedUsers entries with the corresponding ListId
                    $.ajax({
                        type: "post",
                        url: deleteSharedURL,
                        success: function () {
                            var deleteURL = "/List/DeleteList?ListId=" + listId;  // This URL references the function that removes the UserList entry with the corresponding ListId
                            $.ajax({
                                type: "post",
                                url: deleteURL,
                                success: function () {
                                    $("#DeleteModal").modal("hide");
                                    window.location.reload();
                                }
                            });
                        }
                    });
                }
            });
        });
    }
    //We delete the ListInfo entries before the UserList entry in order to avoid an error that occurs when there is no primary key for a foreign key to reference. The ListId located in the ListInfo table is a foreign key to the UserList table which means that there must be a value for it to bind to. Because of this, the database will not let you delete that primary key before all foreign keys that reference it are deleted.
</script>