@using FinalProjectAutoImplementedAuthentication.Models;
@model FinalProjectAutoImplementedAuthentication.Models.ListDataViewModel

<table class="table">
    <tr>
        @foreach (var label in Model.UserLists)
        {
            <th>
                @Html.DisplayNameFor(modelLabel => label.ListName)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.RowCount)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.ColumnCount)
            </th>
            <th>
                @Html.DisplayNameFor(modelLabel => label.OwnerId)
            </th>
            break;
        }
    </tr>

    @{ ListInfo selectedList = new ListInfo(); }

    @foreach (var item in Model.UserLists)
    {
        if (item.OwnerId == ViewData["userid"].ToString())
        {
            <tr>
                <td>
                    @foreach (var info in Model.ListInfos)
                    {
                        if (item.ListId == info.ListId)
                        {
                            selectedList.InfoId = info.InfoId;
                            selectedList.ColumnName = info.ColumnName;
                            selectedList.ColumnData = info.ColumnData;
                            selectedList.RowNum = info.RowNum;
                            selectedList.ColumnNum = info.ColumnNum;
                            selectedList.ListId = info.ListId;
                            selectedList.IsChecked = info.IsChecked;
                        }
                    }
                    @Html.ActionLink(item.ListName, "EditListInfo", new { item.ListId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                    @Html.ActionLink("Details", "Details", new { item.ListId }) |
                    <button class="btn btn-primary" id="delete_btn" onclick="_delete(@item.ListId)">Delete</button>
                    @Html.ActionLink("Delete", "DeleteList", new { item.ListId })
                </td>
            </tr>
        }
    }

    @{ List<int> curListId = new List<int>(); }

    @foreach (var appUser in Model.ApprovedUsers)
    {
        foreach (var item in Model.UserLists)
        {
            if (appUser.UserId == ViewData["userid"].ToString() && appUser.ListId == item.ListId && item.OwnerId != appUser.UserId)
            {
                if (!curListId.Contains(item.ListId))
                {
                    curListId.Add(item.ListId);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RowCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ColumnCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnerId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditList", new { item.ListId }) |
                            @Html.ActionLink("Details", "Details", new { item.ListId }) |
                            @Html.ActionLink("Delete", "DeleteList", new { listId = item.ListId })
                        </td>
                    </tr>
                }
            }
        }
    }
</table>


<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-Title">Delete List</h4>
            </div>
            <div class="modal-body" id="DeleteBody">Are you sure you want to delete this list?</div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" id="delYes" value="Delete" />
                <input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel" />
            </div>
        </div>
    </div>
</div>

<script>
    var _delete = function (listId) {
        $("#DeleteModal").modal("show");
        $("#delYes").on("click", function () {
            var deleteURL = "/List/DeleteList?ListId=" + listId;
            $.ajax({
                type: "post",
                url: deleteURL,
                success: function () {
                    $("#DeleteModal").modal("hide");
                    window.location.reload();
                }
            });
        });
    }
</script>
