@model FinalProjectAutoImplementedAuthentication.Models.ShareListViewModel


@using (Html.BeginForm("ShareList", "List", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">User's Email:</label>
            <div class="col-md-10">
                @Html.TextBox("searchedEmail")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Hidden("listId", ViewData["listId"].ToString())
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
